 h1 {
     color: azure;
     font-size: 30px;
     font-family: Arial, Helvetica, sans-serif;
     text-align: center;
     background-image: linear-gradient(blue, red);
     padding: 15px;
 }
 
 .btn1 {
     background-color: black;
     font-size: 22px;
     padding: 20px;
     padding-right: 20px;
     display: flex;
     justify-content: center;
     font-family: Arial, Helvetica, sans-serif;
     box-shadow: 0 0 0 0 #fffefe inset;
     transition: 0.4s ease-in-out;
 }
 
 .btn2 {
     background-color: black;
     font-size: 22px;
     padding: 20px;
     padding-right: 20px;
     display: flex;
     justify-content: center;
     font-family: Arial, Helvetica, sans-serif;
     box-shadow: 0 0 0 0 #fffefe inset;
     transition: 0.3s ease-in-out;
 }
 
 .btn1 a {
     color: rgb(2, 2, 2);
     text-decoration: none;
 }
 
 .btn2 a {
     color: rgb(6, 7, 7);
     text-decoration: none;
 }
 
 .btn1 a:hover {
     color: rgb(255, 0, 0);
 }
 
 .btn2 a:hover {
     color: rgb(238, 4, 4);
 }
 
 .btn1:hover {
     background-image: url(Hintergrund1.png);
     box-shadow: 0 100px 0 0 #ffffff inset;
 }
 
 .btn2:hover {
     background-image: url(Hintergrund1.png);
     box-shadow: 0 100px 0 0 #ffffff inset;
 }
 
 body {
     background-image: url(Hintergrund1.png);
 }
 
 .btn3 {
     text-align: center;
     background-color: rgb(27, 27, 27);
     display: block;
     padding: 20px 10px;
     margin: 20px;
     border: 5px solid black;
     font-size: 20px;
     font-family: Arial, Helvetica, sans-serif;
     text-decoration: none;
 }
 
 .btn3 a:hover {
     color: #fff8f8
 }
 
 .btn3:hover {
     background-color: #4e4d4d;
 }
 
 .btn3 a {
     text-decoration: none;
     color: #363636;
 }
 
 .btn4 {
     background-color: black;
     font-size: 22px;
     padding: 20px;
     padding-right: 20px;
     display: flex;
     justify-content: center;
     font-family: Arial, Helvetica, sans-serif;
     box-shadow: 0 0 0 0 #fffefe inset;
     transition: 0.4s ease-in-out;
 }
 
 .btn4 a {
     color: rgb(6, 7, 7);
     text-decoration: none;
 }
 
 .btn4:hover {
     background-image: url(Hintergrund1.png);
     box-shadow: 0 100px 0 0 #ffffff inset;
 }
 
 .btn4 a:hover {
     color: rgb(238, 4, 4);
 }
 
 .btn5 {
     background-color: black;
     font-size: 22px;
     padding: 20px;
     padding-right: 20px;
     display: flex;
     justify-content: center;
     font-family: Arial, Helvetica, sans-serif;
     box-shadow: 0 0 0 0 #fffefe inset;
     transition: 0.4s ease-in-out;
 }
 
 .btn5 a {
     color: rgb(6, 7, 7);
     text-decoration: none;
 }
 
 .btn5:hover {
     background-image: url(Hintergrund1.png);
     box-shadow: 0 100px 0 0 #ffffff inset;
 }
 
 .btn5 a:hover {
     color: rgb(238, 4, 4);
 }
 
 .untererbalken {
     text-decoration: none;
     color: #ffffff;
     font-size: 13px;
     font-family: Arial, Helvetica, sans-serif;
 }
 
 .untererbalken:hover {
     color: red;
 }
 
 p {
     font-size: 15px;
     font-family: Arial, Helvetica, sans-serif;
     color: white;
 }