.zurück {
    padding: 20px;
    background-color: black;
    text-align: center;
}

.zurück a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.zurück:hover {
    background-color: grey;
}

.zurück a:hover {
    color: red;
}

h1 {
    color: black;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.cursor {
    color: black;
    font-size: 19px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.cursor:hover {
    color: blue;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: black;
}

.zurück {
    padding: 20px;
    background-color: black;
    text-align: center;
}

.zurück a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.zurück:hover {
    background-color: grey;
}

.zurück a:hover {
    color: red;
}

h1 {
    color: black;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.cursor {
    color: black;
    font-size: 19px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.cursor:hover {
    color: blue;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: black;
}

h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    text-align: center;
}