            h1 {
                text-align: center;
                color: black;
                font-size: 30px;
                font-family: Arial, Helvetica, sans-serif;
            }
            
            html {
                height: 100%;
            }
            
            body {
                height: 100%;
                background-image: url(Hintergrund1.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-attachment: fixed;
            }
            
            p {
                color: azure;
                font-size: 15px;
                font-family: Arial, Helvetica, sans-serif;
            }
            
            a {
                padding: 20px;
                background-color: aliceblue;
                text-decoration: none;
                font-size: 17px;
                font-family: Arial, Helvetica, sans-serif;
                color: black;
                box-shadow: inset -1px 3px 8px 5px #1c1c1d, 2px 5px 16px 0px #313131, 12px 11px 19px 13px rgba(18, 18, 18, 0.25);
            }
            
            a:hover {
                background-image: linear-gradient(blue, white);
                font-size: 20px;
            }
            
            header h1 {
                background-image: linear-gradient(blue, lightblue);
                padding: 30px;
            }