.obererbalken {
    background-image: linear-gradient(blue, red);
    margin-bottom: 35px;
    padding-bottom: 5px;
    box-shadow: 5px 4px 10px 9px rgba(0, 0, 0, 0.64);
    padding-top: 20px;
}

body {
    height: 100%;
    background-image: url(Hintergrund1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 36px;
}

.links:hover {
    color: blueviolet;
}

.linkbild {
    display: flex;
    justify-content: flex-end;
}

img:hover {
    transform: scale(1.1);
    opacity: 1;
    transition: opacity 0.3s ease;
}

h2 {
    color: white;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}