body {
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.login-container {
    background: #222;
    padding: 25px;
    width: 300px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 15px rgba(138, 43, 226, 0.5);
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border-radius: 8px;
    border: none;
}

.login-container button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background: #8a2be2;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.login-container button:hover {
    background: #6e22b6;
}

.error {
    color: red;
    margin-top: 10px;
    height: 20px;
}

.data-container {
    margin-top: 40px;
    width: 400px;
    background: #222;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(138, 43, 226, 0.3);
}

.blurred {
    filter: blur(12px);
    user-select: none;
    pointer-events: none;
    transition: 0.3s;
}

.zurück {
    box-shadow: 0 0 15px rgba(138, 43, 226, 0.5);
    padding: 30px;
    color: white;
    text-decoration: none;
}

.zurück:hover {
    background-color: rgb(29, 28, 28);
}